/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@100;300;400;700;900&family=PT+Serif:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* -------- END -------- */

/*========== fonts | colors | typography ==========*/

:root {
  --body-font: 'Lato', sans-serif;

  --color-dark-blue: #1d1d1d;
  --color-white: #ffffff;
  --color-accent: #c25a87;
  --color-disabled: #98a2b3;
  --color-disabled-text: #e1e4e9;
  --color-additional-color-1: #f5f5f5;
  --color-additional-color-2: #27101a;
  --color-additional-color-3: #ae406f;
  --color-gradient: linear-gradient(97deg, #df95b5 -1.91%, #c25a87 88.11%);

  --p-text-1: 24px;
  --p-text-2: 20px;
  --p-text-3: 16px;
  --p-text-4: 14px;
  --p-text-5: 12px;

  --p-d-text-1: 128px;
  --p-d-text-2: 90px;
  --p-d-text-3: 64px;

  --l-h-1: 36px;
  --l-h-2: 30px;
  --l-h-3: 24px;
  --l-h-4: 21px;
  --l-h-5: 18px;

  --f-w-1: 400;
  --f-w-2: 500;
  --f-w-3: 600;
  --f-w-4: 700;
}

@media (max-width: 1440px) {
  :root {
    --p-text-1: 20px;
    --p-text-2: 16px;
    --p-text-3: 14px;
    --p-text-4: 12px;
    --p-text-5: 10px;

    --p-d-text-2: 64px;

    --l-h-1: 30px;
    --l-h-2: 24px;
    --l-h-3: 21px;
    --l-h-4: 18px;
    --l-h-5: 15px;
  }
}
/* -------- END -------- */

/* BASE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html.lock,
body.lock,
.locker {
  overflow: hidden;
}

body {
  color: var(--color-dark-blue);
  font-family: var(--body-font);
  font-style: normal;
  font-weight: var(--f-w-1);
  line-height: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

picture {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'PT Serif', serif;
  font-size: 64px;
  font-weight: var(--f-w-1);
}

h2 {
  font-size: 54px;
}

h3 {
  font-family: 'PT Serif', serif;
  font-size: 48px;
  font-weight: var(--f-w-1);
  text-align: center;
}

h4 {
  font-family: 'PT Serif', serif;
  font-size: 32px;
  font-weight: var(--f-w-1);
  text-align: center;
}

h5 {
  font-family: 'PT Serif', serif;
  font-size: 24px;
  font-weight: var(--f-w-1);
  text-align: center;
}

h6 {
  font-family: 'PT Serif', serif;
  font-size: 20px;
  font-weight: var(--f-w-1);
}

@media (max-width: 1440px) {
  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }
}

@media (max-width: 660px) {
  h1 {
    font-size: 32px;
    padding: 0px 60px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }
}

/* ALL STYLES */

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.overlay.active {
  display: block;
}

#more-blocks {
  display: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

#more-text {
  display: none;
}

@media (max-width: 1440px) {
  #more-blocks {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  #more-blocks {
    justify-content: flex-start;
  }
}

@media (max-width: 660px) {
  #more-blocks {
    flex-direction: column;
  }
}

/* -------- END -------- */

/* WRAPPER */

.container {
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid red;
}

.container-xl {
  max-width: 1920px;
  margin: 0 auto;
}

@media (max-width: 1840px) {
  .container {
    border: 1px solid cyan;
  }
}

@media (max-width: 1740px) {
  .container {
    border: 1px solid orchid;
  }
}

@media (max-width: 1640px) {
  .container {
    border: 1px solid orange;
  }
}

@media (max-width: 1540px) {
  .container {
    border: 1px solid blue;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1120px;
    margin: 0 auto;
  }
}

@media (max-width: 1340px) {
  .container {
    border: 1px solid lime;
  }
}


@media (max-width: 1440px) {
  .container {
    max-width: 1120px;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
    padding: 0px 40px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0px 20px;
  }
}

/* -------- END -------- */

/* BUTTONS */

.btn {
  max-width: 438px;
  padding: 30px 48px;
  background: var(--color-gradient);
  border-radius: 4px;
  text-align: center;
  border: none;
  color: var(--color-white);
  font-size: var(--p-text-2);
  font-weight: var(--f-w-3);
  line-height: var(--l-h-2);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background: var(--color-additional-color-3);
}

.btn:disabled {
  cursor: auto;
  color: var(--color-disabled);
  background: var(--color-disabled-text);
}

@media (max-width: 1200px) {
}

@media (max-width: 768px) {
  .btn {
    padding: 30px 30px;
  }

  .popup__message {
    gap: 20px;
  }
}

/* -------- END -------- */

/* INPUTS */

.input {
  max-width: 438px;
  width: 95%;
  display: flex;
  align-items: center;
  padding: 29px 0px 31px 20.5px;
  border-radius: 3px;
  border: 1px solid rgba(29, 29, 29, 0.1);
  background: var(--color-white);
  color: var(--color-dark-blue);
  font-size: var(--p-text-3);
  font-weight: var(--f-w-1);
  line-height: var(--l-h-4);
}

.popup__inputs > input {
  background: var(--color-additional-color-1);
}

input:focus {
  background-color: var(--color-white);
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}

/* -------- END -------- */

/* SLIDER */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.slider__wrapper {
  position: relative;
}

.swiper-pagination {
  max-width: 50%;
  margin: 0 auto;
}

.s__p--1,
.s__p--2,
.s__p--3 {
  position: initial !important;
}

.s__p--1 .swiper-pagination-bullet,
.s__p--2 .swiper-pagination-bullet {
  background: var(--color-accent) !important;
  opacity: 0.3 !important;
}

.s__p--1 .swiper-pagination-bullet-active,
.s__p--2 .swiper-pagination-bullet-active {
  opacity: 1 !important;
}

.s__p--3 .swiper-pagination-bullet {
  background: var(--color-accent) !important;
  opacity: 1 !important;
}

.s__p--3 .swiper-pagination-bullet-active {
  background: var(--color-white) !important;
}

/* slider content styles */

.staff__slider-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.staff__slider .swiper-slide {
  min-width: 466px;
}

.staff-clients .staff__card > img {
  height: 289px;
}

.staff-clients__wrapper .staff__card {
  max-width: 344px;
}

.clients__slider {
  max-width: 1196px;
}

.clients__slider-nav,
.staff__slider-nav,
.staff-clients__slider-nav {
  position: absolute;
  width: 97%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: none !important;
}

.slider__btn-prev--1,
.slider__btn-prev--2 {
  width: 36px !important;
  height: 36px !important;
  display: block;
  background: url('../images/icons/arrow-right-2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  border: none;
  cursor: pointer;
}

.slider__btn-prev--1 .swiper-button-disabled,
.slider__btn-prev--2 .swiper-button-disabled {
  background: url('../images/icons/arrow-left-2.svg') !important;
}

.slider__btn-next--1,
.slider__btn-next--2 {
  width: 36px !important;
  height: 36px !important;
  display: block;
  background: url('../images/icons/arrow-right-2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.slider__btn-next--1 .swiper-button-disabled,
.slider__btn-next--2 .swiper-button-disabled {
  background: url('../images/icons/arrow-left-2.svg') !important;
}

.slider__btn-next--3 {
  width: 36px !important;
  height: 36px !important;
  display: block;
  background: url('../images/icons/arrow-left-1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.slider__btn-prev--3 {
  width: 36px !important;
  height: 36px !important;
  display: block;
  background: url('../images/icons/arrow-left-1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  border: none;
  cursor: pointer;
}

.slider__btn-prev--3 .swiper-button-disabled {
  background: url('../images/icons/arrow-right-1.svg') !important;
}

.slider__btn-next--3 .swiper-button-disabled {
  background: url('../images/icons/arrow-right-1.svg') !important;
}

@media (max-width: 660px) {
  .clients__slider-nav,
  .staff__slider-nav,
  .staff-clients__slider-nav {
    position: relative;
    width: 95%;
    bottom: -35px;
    z-index: 3;
  }
}

/* -------- END -------- */

/* ACCORDEON */

.accordeon {
  max-width: 1120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordeon__list li {
  color: var(--color-dark-blue);
  font-size: var(--p-text-3);
  font-weight: var(--f-w-1);
  line-height: var(--l-h-3);
}

.accordeon__li {
  position: relative;
  background-color: var(--color-white);
  border-radius: 10px;
  border: 1px solid rgba(29, 29, 29, 0.1);
}

.accordeon__li > input[type='checkbox'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.accordeon__li > input[type='checkbox']:checked ~ .accordeon__toggle {
  max-height: 2500px;
  transition: 4s;
}

.accordeon__btn {
  position: relative;
  min-height: 79px;
  display: flex;
  align-items: center;
  padding: 14px 40px 15px 40px;
  font-size: var(--p-text-1);
  font-weight: var(--f-w-3);
  cursor: pointer;
}

.accordeon__btn::after {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  right: 40px;
  background-image: url('../images/icons/icon-arrow-1.svg');
  background-size: contain;
  transition: 0.3s;
}

.accordeon__li > input[type='checkbox']:checked ~ .accordeon__btn::after {
  background-image: url('../images/icons/icon-arrow-2.svg');
  background-size: contain;
}

.accordeon__toggle {
  max-height: 0;
  transition: 0.3s;
  overflow: hidden;
}

.accordeon__toggle-inner {
  padding: 0px 229px 24px 40px;
  color: var(--color-dark-blue);
  font-size: var(--p-text-3);
  font-weight: var(--f-w-1);
  line-height: var(--lh-3);
}

@media (max-width: 1440px) {
  .accordeon__btn {
    font-size: var(--p-text-2);
  }
}

@media (max-width: 768px) {
  .accordeon__toggle-inner {
    padding: 0px 40px 10px 10px;
  }

  .accordeon__btn {
    font-size: var(--p-text-3);
    padding: 10px;
  }

  .accordeon__btn::after {
    right: 10px;
  }
}

@media (max-width: 660px) {
  .accordeon__btn > span {
    margin-right: 45px;
  }
}

/* -------- END -------- */

/* POPUP */

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 999;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  padding: 64px 115px;
  margin: 0px 20px;
  text-align: center;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  border-radius: 9px;
  background-color: var(--color-white);
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}

.popup__inner {
  max-width: 483px;
  display: flex;
  flex-direction: column;
}

.popup__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.popup__title > p {
  color: var(--color-dark-blue);
  font-size: var(--p-text-2);
  font-weight: var(--f-w-1);
  line-height: var(--l-h-2);
}

.popup__inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.popup__subtext {
  max-width: 264px;
  color: var(--color-dark-blue);
  font-size: var(--p-text-5);
  font-weight: var(--f-w-3);
  line-height: var(--l-h-5);
  text-align: center;
  opacity: 0.3;
}

.popup__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
}

.popup__message > p {
  max-width: 400px;
  font-size: var(--p-text-2);
  color: var(--color-dark-blue);
  font-weight: var(--f-w-1);
  line-height: var(--l-h-2);
  text-align: center;
}

#popup-message .popup__content {
  max-width: 710px;
  padding: 60px 100px 0px 100px;
}

.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: url('../images/icons/close-1.svg') center/32px no-repeat;
  transition: all 0.3s ease-in-out;
}

.popup__close:hover {
  background: url('../images/icons/close-2.svg') center/32px no-repeat;
}

@media (max-width: 1280px) {
  .popup__content {
    padding: 40px 69px 40px 70px;
  }

  .popup__title {
    gap: 20px;
  }

  .popup__wrapper {
    margin-top: 30px;
  }
}

@media (max-width: 660px) {
  .popup__content {
    padding: 40px 17.5px;
  }

  #popup-message .popup__content {
    padding: 40px 10px 0px 10px;
  }
}

/* -------- END -------- */

/* HEADER */

.header {
  position: relative;
  width: 100%;
  background-image: url('../images/backgrounds/01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.header__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
}

.header__logo {
  display: flex;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__contacts {
  display: flex;
  gap: 40px;
}

.contact__link {
  color: var(--color-dark-blue);
  font-size: var(--f-w-3);
  font-weight: var(--f-w-3);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 36px;
}

.contact__mail {
  background-image: url('../images/icons/icon-mail.svg');
}

.contact__watsapp {
  background-image: url('../images/icons/icon-whatsapp.svg');
}

.contact__phone {
  background-image: url('../images/icons/icon-phone.svg');
}

.header__nav {
  width: 100%;
  display: flex;
}

.header__burger {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.line {
  width: 100%;
  height: 1px;
  background: rgba(29, 29, 29, 0.1);
}

.menu__burger,
.header__logo--menu {
  display: none;
}

.menu__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__link {
  color: var(--color-blue);
  font-size: var(--p-text-2);
  font-weight: var(--f-w-1);
  line-height: var(--l-h-2);
}

@media (max-width: 1440px) {
  .header__container {
    gap: 12px;
    padding-top: 12px;
  }
}

@media (max-width: 768px) {
  .header {
    background-size: auto;
  }

  .header__burger {
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }

  .menu__burger {
    display: flex;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    cursor: pointer;
  }

  .header__logo--menu {
    display: block;
  }

  .header__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header__top {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .menu__burger:before {
    content: '';
    background-color: var(--color-accent);
    position: absolute;
    width: 24px;
    height: 2px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger:before {
    top: 0;
  }

  .menu__burger:after {
    content: '';
    background-color: var(--color-accent);
    position: absolute;
    width: 24px;
    height: 2px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger:after {
    bottom: 0;
  }

  .menu__burger span {
    background-color: var(--color-accent);
    position: absolute;
    width: 24px;
    height: 2px;
    top: 9px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger.active span {
    transform: scale(0);
  }

  .menu__burger.active:before {
    width: 100%;
    transform: rotate(45deg);
    top: 9px;
  }

  .menu__burger.active:after {
    width: 100%;
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu__burger.active > span {
    background-color: var(--color-white);
  }

  .header__burger.active {
    transform: translateX(0);
  }

  .header__burger {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-height: 446px;
    padding: 12px 40px 60px 40px;
    transform: translateX(110%);
    transition: transform 0.5s;
    overflow: auto;
    z-index: 3;
    border-radius: 0px 0px 0px 3px;
    background: var(--color-white);
  }

  .header__menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}

@media (max-width: 660px) {
  .header__logo,
  .header__logo--menu {
    max-width: 138px;
  }

  .header__burger {
    padding: 20px 40px;
  }

  .header__contacts {
    flex-direction: column;
  }

  .header__menu {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .header__burger {
    max-height: 100%;
  }
}

/* -------- END -------- */

/* FOOTER */

.footer {
  background-color: var(--color-additional-color-1);
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 0px;
}

.footer__top-inner {
  max-width: 674px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__menu,
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.footer__nav {
  display: flex;
  gap: 40px;
}

.footer__nav li {
  color: var(--color-dark-blue);
  font-size: var(--p-text-2);
  font-weight: var(--f-w-1);
  line-height: var(--l-h-2);
}

.footer__nav > .footer__nav-left,
.footer__nav > .footer__nav-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__contacts-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__contacts-inner > .contact__link {
  font-size: var(--p-text-2);
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

@media (max-width: 1024px) {
  .footer__top-inner {
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .footer__top {
    flex-direction: column;
    gap: 60px;
  }
}

@media (max-width: 660px) {
  .footer__top-inner {
    flex-direction: column;
    gap: 60px;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

/* -------- END -------- */

/* PREVIEW */

.preview .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.preview__left {
  max-width: 554px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-top: 60px;
  margin-bottom: 87px;
}

.preview__left > h1 > span {
  color: var(--color-accent);
}

.preview__left > p {
  max-width: 377px;
  font-size: var(--p-text-3);
  line-height: var(--lh-3);
  background-image: url('../images/icons/icon_mark.svg');
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 36px;
}

.preview__image {
  position: absolute;
  left: 30%;
  bottom: 0;
  z-index: 1;
}

.preview__right {
  position: relative;
  max-width: 466px;
  padding: 38px 107px 39px 60px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-top: 310px;
  background: var(--color-white);
  box-shadow: 0px 5.68022px 35.50135px 0px rgba(0, 0, 0, 0.05);
}

.preview__right-list {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
}

.preview__right-item {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 25px;
}

.preview__right-item > span {
  color: var(--color-accent);
  font-family: 'Playfair Display', serif;
  font-size: var(--p-d-text-2);
  font-weight: var(--f-w-1);
  text-transform: uppercase;
  opacity: 0.5;
}

.preview__right-item > p {
  color: var(--color-dark-blue);
  font-size: var(--p-text-2);
  font-weight: var(--f-w-3);
  line-height: var(--l-h-2);
  margin-top: 25px;
}

@media (max-width: 1800px) {
  .preview__image {
    max-width: 650px;
  }
}

@media (max-width: 1700px) {
  .preview__image {
    max-width: 600px;
  }
}

@media (max-width: 1440px) {
  .preview__left {
    max-width: 400px;
  }

  .preview__right-item > p {
    font-size: var(--p-text-3);
    line-height: var(--lh-3);
    margin-top: 20px;
  }

  .preview__right {
    max-width: 328px;
    padding: 10px;
  }

  .preview__right-item {
    gap: 20px;
  }

  .preview__right-list {
    padding: 6px 30px 27px 30px;
  }
}

@media (max-width: 1024px) {
  .preview__image {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .preview .container {
    flex-direction: column;
  }

  .preview__left {
    max-width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 32px;
  }

  .preview__left > p {
    background: none;
  }

  .preview__image {
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .preview__right {
    max-width: 664px;
    margin: 0 auto;
    margin-top: -10px;
    z-index: 2;

    border-radius: 10px;
    border: 1px solid rgba(29, 29, 29, 0.1);
    box-shadow: 0px 8.0937px 50.58562px 0px rgba(0, 0, 0, 0.05);
  }

  .preview__right-list {
    max-width: 400px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(29, 29, 29, 0.1);
  }
}

@media (max-width: 660px) {
  .preview__left {
    gap: 20px;
    margin-bottom: 30px;
  }

  .preview__right-list {
    max-width: 100%;
  }
}

/* -------- END -------- */

/* SERVICES */

.mt {
  margin-top: 150px;
}

.services__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.services__wrapper > h3 {
  max-width: 1276px;
  margin: 0 auto;
  text-align: center;
}

.services__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.services__card {
  max-width: 345px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  border-radius: 3px;
  border: 1px solid rgba(29, 29, 29, 0.1);
  background: var(--color-white);
  transition: all 0.3s linear;
  cursor: pointer;
}

.services__card:hover {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}

.services__card-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 22px 12px 0px 12px;
  border-radius: 3px;
  border: 1px solid rgba(29, 29, 29, 0.1);
}

.services__card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.services__card-list > li {
  list-style: inside;
  color: var(--color-dark-blue);
  font-size: var(--p-text-3);
  line-height: var(--lh-3);
}

.link-1 {
  color: var(--color-accent);
  font-size: var(--p-text-3);
  line-height: var(--lh-3);
  text-decoration: underline;
  transition: all 0.3s linear;
}

.link-2 {
  color: var(--color-accent);
  font-size: var(--p-text-2);
  font-weight: var(--f-w-3);
  line-height: var(--l-h-2);
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
}

.link-1:hover,
.link-1:focus,
.link-2:hover,
.link-2:focus {
  color: var(--color-additional-color-3);
}

.link-1:disabled,
.link-2:disabled {
  color: var(--color-disabled);
}

@media (max-width: 1440px) {
  .mt {
    margin-top: 100px;
  }

  .services__wrapper > h3 {
    max-width: 721px;
  }

  .services__wrapper {
    gap: 40px;
  }

  .services__card-inner {
    flex-direction: row;
    padding: 12px;
  }

  .services__card-inner > img {
    max-width: 200px;
  }

  .services__cards {
    justify-content: center;
  }

  .services__card {
    max-width: 520px;
  }
}

@media (max-width: 1200px) {
  .services__card {
    max-width: 480px;
  }
}

@media (max-width: 1024px) {
  .services__card {
    max-width: 453px;
  }
}

@media (max-width: 1024px) {
  .services__card {
    max-width: 300px;
  }

  .services__card-inner {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .services__cards {
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 620px;
  }
}

@media (max-width: 660px) {
}

/* -------- END -------- */

.partners {
  background-image: url('../images/backgrounds/02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.partners__wrapper {
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 100px 0px;
  margin: 0 auto;
}

.partners__wrapper > h3 {
  color: var(--color-white);
}

.partners__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 20px;
}

.partners__card {
  width: 262px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--color-white);
  box-shadow: 0px 6px 12px 0px rgba(7, 71, 87, 0.1);
}

/* PARTNERS */

@media (max-width: 1440px) {
  .partners__wrapper {
    gap: 40px;
    padding: 60px 0px;
  }
}

/* -------- END -------- */

/* LEADER */

.leader {
  margin-top: 119px;
  background-image: url('../images/backgrounds/03.jpg');
  background-repeat: no-repeat;
}

.leader__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leader__left {
  max-width: 412px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.leader__left-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.leader__list-item {
  display: flex;
  align-items: flex-end;
  gap: 21px;
}

.leader__list-item > span {
  color: var(--color-accent);
  font-family: 'Playfair Display', serif;
  font-size: var(--p-d-text-3);
  font-weight: var(--f-w-1);
  text-transform: uppercase;
  opacity: 0.5;
}

.leader__list-item > p {
  color: var(--color-dark-blue);
  font-size: var(--p-text-2);
  font-weight: var(--f-w-3);
  line-height: var(--l-h-2);
}

.leader__left-bottom > p {
  color: var(--color-dark-blue);
  font-size: var(--p-text-2);
  font-weight: var(--f-w-3);
  line-height: var(--l-h-2);
}

.leader__right {
  max-width: 337px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.leader__right-top {
  display: flex;
  align-items: center;
  gap: 16px;
}

.leader__right-top > img {
  max-width: 88px;
  max-height: 88px;
}

.leader__right-top > p {
  color: var(--color-dark-blue);
  font-size: var(--p-text-2);
  font-weight: var(--f-w-3);
  line-height: var(--l-h-2);
}

.leader__right-bottom {
  color: var(--color-dark-blue);
  font-size: var(--p-text-2);
  font-weight: var(--f-w-3);
  line-height: var(--l-h-2);
}

.feedback-1 {
  background-image: url('../images/backgrounds/04.jpg');
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 1px solid rgba(29, 29, 29, 0.1);
}

.feedback-1__wrapper {
  height: 227px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 16px;
  border-radius: 10px;
  border: 1px solid rgba(29, 29, 29, 0.1);
}

@media (max-width: 1440px) {
  .leader {
    margin-top: 49px;
  }

  .leader__list-item > p {
    font-size: var(--p-text-3);
    line-height: var(--lh-3);
  }

  .leader__left-bottom > p {
    font-size: var(--p-text-3);
    line-height: var(--lh-3);
  }

  .leader__right-top > p {
    font-size: var(--p-text-3);
    line-height: var(--lh-3);
  }

  .leader__right-bottom {
    font-size: var(--p-text-3);
    line-height: var(--lh-3);
  }

  .leader__list-item {
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .leader__wrapper {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .leader__wrapper picture {
    margin: 0 auto;
    order: 3;
  }
}

@media (max-width: 768px) {
  .feedback-1__wrapper {
    flex-direction: column;
    padding: 10px;
  }

  .leader__right {
    max-width: 325px;
  }

  .leader__left {
    max-width: 325px;
  }
}

@media (max-width: 660px) {
  .leader__wrapper {
    justify-content: center;
    gap: 40px;
  }

  .leader__left,
  .leader__right {
    max-width: 100%;
  }

  .leader__list-item {
    align-items: center;
  }
}

/* -------- END -------- */

/* LISING */

.lising__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.lising__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.lising__card {
  width: 262px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--color-white);
  box-shadow: 0px 6px 12px 0px rgba(7, 71, 87, 0.1);
}

@media (max-width: 1440px) {
  .lising__wrapper {
    gap: 40px;
  }

  .lising__cards {
    justify-content: center;
    column-gap: 15px;
    row-gap: 20px;
  }

  .lising__card {
    max-width: 327px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .lising__card {
    max-width: 320px;
  }
}

/* -------- END -------- */

/* SALES */

.sales__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.sales__cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.sales__card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 24px 0px 24px;
}

.sales__card-inner {
  position: relative;
  max-width: 325px;
  height: 100%;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid rgba(29, 29, 29, 0.1);
}

.sales__card {
  position: relative;
  max-width: 345px;
  height: 474px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(29, 29, 29, 0.1);
}

.sales__card:nth-child(1) img {
  margin-bottom: -10px;
}

.sales__bg-1 {
  background-image: url('../images/backgrounds/06.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border: 10px solid rgba(29, 29, 29, 0.9);
}

.sales__bg-1 .sales__card-text,
.sales__bg-1 a {
  color: var(--color-white);
}

.sales__bg-2 {
  background-image: url('../images/backgrounds/05.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.sales__img {
  position: absolute;
  bottom: 0;
}

@media (max-width: 1440px) {
  .sales__wrapper {
    gap: 40px;
  }

  .sales__cards {
    flex-wrap: wrap;
  }

  .sales__card {
    max-width: 520px;
    width: 100%;
    height: 277px;
    flex-direction: row;
  }

  .sales__img {
    right: 0;
  }

  .sales__card-text {
    max-width: 232px;
    align-items: flex-start;
    padding: 0px 0px 0px 24px;
  }

  .sales__card-text > h5 {
    text-align: left;
  }

  .sales__card-text > span {
    font-size: var(--p-text-3);
    line-height: var(--lh-3);
  }

  .sales__card-inner {
    max-width: 550px;
    width: 100%;
    height: 257px;
    display: flex;
  }

  .sales__card:nth-child(1) img {
    margin-right: -25px;
  }
}

@media (max-width: 1200px) {
  .sales__card {
    max-width: 480px;
  }

  .sales__img {
    max-width: 270px;
  }
}

@media (max-width: 1024px) {
  .sales__card {
    max-width: 453px;
  }

  .sales__img {
    max-width: 230px;
  }

  .sales__card:nth-child(1) img {
    margin-bottom: -7px;
  }
}

@media (max-width: 660px) {
  .sales__card {
    max-width: 100%;
    height: 100%;
    flex-direction: column;
  }

  .sales__img {
    position: initial;
    max-width: 100%;
  }

  .sales__card:nth-child(1) img {
    margin-bottom: -10px;
  }

  .sales__card-text {
    max-width: 90%;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 0px 0px;
  }

  .sales__card-text > h5 {
    text-align: center;
  }

  .sales__card-inner {
    max-width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}

/* -------- END -------- */

/* WORK */

.work {
  background-image: url('../images/backgrounds/07.jpg');
  background-repeat: no-repeat;
}

.work__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}

.work__inner {
  display: flex;
  gap: 24px;
}
.work__left {
  max-width: 700px;
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
}

.work__list-item {
  max-width: 336px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.work__list-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.feedback-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(29, 29, 29, 0.1);
  background: var(--color-white);
}
.feedback-2__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 65px 44px;
}

.feedback-2__form > h4 > span {
  color: var(--color-accent);
}

.feedback-2__inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.feedback-2__inputs > .input {
  max-width: 300px;
  height: 65px;
  background-color: var(--color-additional-color-1);
}

.feedback-2__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.feedback-2__btn > p {
  max-width: 264px;
  color: var(--color-dark-blue);
  text-align: center;
  font-size: var(--p-text-5);
  font-weight: var(--f-w-3);
  line-height: var(--l-h-5);
  opacity: 0.3;
}

@media (max-width: 1440px) {
  .work__wrapper {
    gap: 40px;
  }

  .work__list-text > p {
    font-size: var(--p-text-3);
    line-height: var(--lh-3);
  }

  .work__list-item {
    max-width: 269px;
  }

  .feedback-2__form {
    padding: 37px 59px;
  }

  .feedback-2__inputs {
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .work__wrapper {
    align-items: center;
  }

  .work__inner {
    flex-direction: column;
    justify-content: center;
  }

  .work__list-item {
    align-items: center;
  }

  .work__list-item {
    max-width: 290px;
  }

  .work__list-text {
    align-items: center;
    text-align: center;
  }

  .feedback-2__inputs {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

@media (max-width: 660px) {
  .work__list {
    justify-content: center;
  }
  .sales__cards {
    justify-content: center;
  }
  .services__cards {
    justify-content: center;
  }
}

/* -------- END -------- */

/* STAFF */

.staff__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.staff__card {
  max-width: 466px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgba(29, 29, 29, 0.1);
  background: var(--bg-elements-color, #fff);
  transition: all 0.3s linear;
  cursor: pointer;
}

.staff__card:hover {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}

.staff__card > img {
  border-radius: 10px 10px 0px 0px;
}

.staff__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 32px 24px 46px 24px;
}

.staff__description > p {
  color: var(--color-dark-blue);
  font-size: var(--p-text-2);
  font-weight: var(--f-w-3);
  line-height: var(--l-h-2);
}

.staff__description > .link-1 {
  font-size: var(--p-text-2);
}

.staff__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.staff__title > h4 {
  text-align: left;
}

.staff__title > p {
  color: var(--color-dark-blue);
  font-size: var(--p-text-2);
  font-weight: var(--f-w-3);
  line-height: var(--l-h-2);
  opacity: 0.5;
}

@media (max-width: 1440px) {
  .staff__card {
    max-width: 360px;
  }

  .staff__description {
    padding: 30px 18px;
  }

  .staff__title > p {
    font-size: var(--p-text-3);
    line-height: var(--lh-3);
  }

  .staff__description > p {
    font-size: var(--p-text-3);
    line-height: var(--lh-3);
  }

  .staff__wrapper {
    gap: 40px;
  }

  .staff__slider-wrapper {
    gap: 14px;
  }

  .staff__slider .swiper-slide {
    min-width: 363px;
  }

  .staff-clients__wrapper .staff__card {
    max-width: 267px;
  }

  .staff-clients .staff__card > img {
    height: 224px;
  }
}

@media (max-width: 1230px) {
  .staff__slider-wrapper {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .staff__slider .swiper-slide {
    min-width: 267px;
  }

  .staff__slider {
    max-width: 900px;
  }

  .staff-clients__slider {
    max-width: 900px;
  }
}

@media (max-width: 768px) {
  .staff-clients__slider {
    max-width: 554px;
  }

  .staff__slider {
    max-width: 524px;
  }

  .staff__slider .swiper-slide {
    min-width: auto;
  }
}

@media (max-width: 660px) {
  .staff__card {
    max-width: 320px;
  }

  .staff__wrapper {
    gap: 20px;
  }

  .staff__slider-wrapper {
    gap: 0px;
  }
}

/* -------- END -------- */

/* CLIENTS */

.clients {
  background-color: var(--color-additional-color-2);
}

.clients__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  padding: 40px 0px;
}

.clients__wrapper > h3 {
  color: var(--color-white);
}

.clients__img {
  width: 287px;
  height: 414px;
  border-radius: 10px;
  border: 1px solid rgba(29, 29, 29, 0.1);
  background: #eaeae9;
  box-shadow: 0px 6px 12px 0px rgba(7, 71, 87, 0.07);
}

@media (max-width: 1440px) {
  .clients__wrapper {
    gap: 40px;
    padding: 58px 0px;
  }

  .clients__img {
    width: 227px;
    height: 327px;
  }

  .clients__slider {
    max-width: 998px;
  }
}

@media (max-width: 768px) {
  .clients__slider {
    max-width: 554px;
  }
}

@media (max-width: 660px) {
  .clients__wrapper {
    gap: 20px;
  }
}

/* -------- END -------- */

/* TRUST */

.trust {
  background-image: url('../images/backgrounds/08.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.trust__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.trust__cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 20px;
}

.trust__card {
  width: 262px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--color-white);
  box-shadow: 0px 6px 12px 0px rgba(7, 71, 87, 0.1);
}

.feedback-3 {
  position: relative;
  margin-top: -390px;
  background-image: url('../images/backgrounds/10.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: 1px solid rgba(29, 29, 29, 0.1);
}

.feedback-3__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 16px;
  padding: 74px 0px;
  border-radius: 10px;
  border: 1px solid rgba(29, 29, 29, 0.1);
}

.feedback-3__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.feedback-3__title > p {
  max-width: 400px;
  color: var(--color-dark-blue);
  text-align: center;
  font-size: var(--p-text-2);
  font-weight: var(--f-w-1);
  line-height: var(--l-h-2);
}

@media (max-width: 1440px) {
  .feedback-3 {
    margin-top: -225px;
  }

  .feedback-3__wrapper {
    padding: 37px 0px;
  }
}

@media (max-width: 1200px) {
  .trust__cards {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .feedback-3 {
    margin-top: -180px;
  }
}

@media (max-width: 660px) {
  .feedback-3 {
    margin-top: -100px;
  }
}

/* -------- END -------- */

/* ANSWERS */

.answers__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.answers__inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* -------- END -------- */

/* FEEDBACK */

.feedback {
  background-image: url('../images/backgrounds/09.jpg');
  background-repeat: no-repeat;
}

.feedback > .container {
  display: flex;
  padding: 100px 0px 100px 0px;
  justify-content: flex-end;
}

.feedback .feedback-2 {
  max-width: 720px;
}

@media (max-width: 1440px) {
  .feedback {
    background-position: 25% 50%;
  }

  .feedback .feedback-2 {
    max-width: 552px;
  }
}

@media (max-width: 768px) {
  .feedback > .container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
}

@media (max-width: 660px) {
  .feedback > .container {
    padding: 10px;
  }

  .feedback-2__form {
    padding: 20px;
  }
}

/* -------- END -------- */

/* SEO-BLOCK */

.seo-block__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.seo-block__wrapper > h3 {
  max-width: 1020px;
}

@media (max-width: 1440px) {
  .seo-block__wrapper > h3 {
    max-width: 706px;
  }
}

/* -------- END -------- */

/* CONTACTS */

.contacts {
  background-image: url('../images/contacts/01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__wrapper {
  max-width: 414px;
  display: inline-flex;
  padding: 40px 83px 40px 40px;
  margin: 145px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  border: 1px solid rgba(29, 29, 29, 0.1);
  background: var(--color-white);
}

.contacts__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.contacts__inner > h3 {
  text-align: left;
}

.contacts__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contacts__item > p:nth-child(1) {
  color: var(--color-dark-blue);
  font-size: var(--p-text-3);
  font-weight: var(--f-w-4);
  line-height: var(--lh-3);
  font-style: normal;
}

.contacts__item > p:nth-child(2),
.contacts__item > a:nth-child(2) {
  color: var(--color-dark-blue);
  font-size: var(--p-text-3);
  font-weight: var(--f-w-1);
  line-height: var(--lh-3);
  font-style: normal;
}

@media (max-width: 1440px) {
  .contacts__wrapper {
    max-width: 340px;
    padding: 40px 70px 40px 40px;
  }
}

@media (max-width: 768px) {
  .contacts__wrapper {
    padding: 20px;
  }
}

/* -------- END -------- */
